#app{
  display: grid;
  width: 900px;
  height: 800px;
  grid-template-columns: 300px 700px;
  grid-template-rows: 100px 300px 200px 200px;
}
#heading{
  background-image: linear-gradient(to bottom right, #404040,	#798186);
  grid-column: 1 /3;
  grid-row:1/2;
  border: transparent;
  border-radius: 10px;
}
#heading h1{
  padding: 0px 5px 8px 20px;
  font: bold 60px San-Serif;
  color: #fff;
  /* smask-image:linear-gradient(#444,#888); */
  text-shadow: 
  1px 0px 1px #888, 0px 1px 1px #ddd, 
  2px 1px 1px #888, 1px 2px 1px #ddd,
  3px 2px 1px #888, 2px 3px 1px #ddd,
  4px 3px 1px #888, 3px 4px 1px #ddd,
  5px 4px 1px #888

}
.toolContainer{
    grid-column: 1/2;
    background: #888888;
    z-index: 20;
}
.color{
  grid-column: 1/2;
  grid-row:3/4;
  background: #999999;
  z-index: 21;
}
.setting{
  grid-column: 1/2;
  grid-row: 4/5;
  padding-top: 20px;
  background: #bbbbbb;
}
.convasContainer{
  grid-column: 2/3;
  grid-row: 2/5;
}

/* canvas setting */
#canvasReal{
  position: absolute;  
  left: 300px;
  box-shadow: 5px 5px 5px grey;
  z-index: 10;
}
#canvasDraft{
  position: absolute;  
  left: 300px; 
  box-shadow: 5px 5px 5px grey;
  background: transparent;
  z-index: 11;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}
h2 {
  background-color: #dbdbdb;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  font-family: 'Open Sans';
}
/* Color Pick Container */
.color{
  display: flex;
  flex-flow: rows nowrap;
}

/* Color Picker 1 */
#color-input1 {
  display: none;
}
#color-label1 {
  margin-left: 15px;
  margin-top: 10px;
  /* position: absolute; */
  height: 30px;
  width: 50px;
} 
#color-input1:checked ~ #color-picker1 {
  opacity: 1;
}
#color-picker1 {
  /* position: absolute; */
  left: 70px; 
  background-color: white;
  height: 160px;
  width: 200px;
  border: solid 1px #888;
  opacity: 0;
  padding: 5px;
}

/* Color Picker 2 */

#color-input2 {
  display: none;
}
#color-label2 {
  margin-left: 15px;
  margin-top: 10px;

  /* position: absolute; */
  height: 30px;
  width: 50px;
} 
#color-input2:checked ~ #color-picker2 {
  opacity: 1;
}
#color-picker2 {
  /* position: absolute; */
  left: 70px; 
  background-color: white;
  height: 160px;
  width: 200px;
  border: solid 1px #888;
  opacity: 0;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}
